<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.obdenergy.obdenergy" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher_icon1"

        android:label="@string/app_name"
        android:theme="@style/customTab" >
        <activity
            android:name=".MainActivity"
            android:label="OBDEnergy" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activities.Devices"
            android:theme="@android:style/Theme.Dialog">
            </activity>
        <activity android:name=".Activities.InitActivity"
            android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity android:name=".Activities.InfoActivity"
            android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity android:name=".Activities.FuelSurveyActivity"
            android:theme="@android:style/Theme.Dialog">
        </activity>

    </application>

</manifest>
